<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prediksi Kelulusan</title>
</head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!------ Include the above in your HEAD tag ---------->
<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Prediksi Kelulusan</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="{{ url_for('predict') }}" method="post">
                            <h3 class="text-center text-info">Prediksi Kelulusan</h3>
                            <div class="form-group">
                                <label for="word" class="text-info">Nilai Word</label><br>
                                <input type="number" name="word" id="word" class="form-control" value="">
                            </div>
                            <div class="form-group">
                                <label for="excell" class="text-info">Nilai Excell</label><br>
                                <input type="number" name="excell" id="excell" class="form-control" value="">
                            </div>
                            <div class="form-group">
                                <label for="word" class="text-info">Nilai PPT</label><br>
                                <input type="number" name="ppt" id="word" class="form-control" value="">
                            </div>
                            <div class="form-group">
                                <label for="excell" class="text-info">Nilai GA</label><br>
                                <input type="number" name="ga" id="excell" class="form-control" value="">
                            </div>
                            <h3 class="text-center pt-5">{{ prediction_text }}</h3>
                            <div class="form-group"><br>
                                <input type="submit" class="btn btn-info btn-md">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>